.body {
  background-image: url(painting.jpg);
  background-attachment: fixed;
  background-repeat:no-repeat;

}


.rows{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-content: space-around;
}


#picture {
  height:500px;
  width: 500px;
  align-content: flex-start;
  border: 1px solid black;
}


#paragraph {
  width: 500px;
  text-align: justify;
  padding-top: 20px;
}


#title {
  text-align:center;

}

#squareOne {

}
