.navbar {
background: black;
}

.navbar .navbar-brand {
  color: white;
  font-family: 'Bungee Hairline', cursive;


}

.navbar .nav {
  color: white;

  font-family: 'Roboto', sans-serif;

}

}
.body {
  background-image: url(backround2.jpg);
  background-attachment: fixed;
  background-repeat:no-repeat;

}

.title {
  text-align: center;
  color: white;
}

.paragraph {
  text-align:center;
  color: white;
  width: 500px;
  text-align: justify;
}
